button {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    color: #E4F0FB;
    background-color: #0B3054;
    border-color: #0B3054;
    transition-duration: 0.6s;
    cursor: pointer;
}

button:hover {
    background-color: #225B95;
    border-color: #225B95;
}