body {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    display: inline-block;
    position: relative;
    color: #0B3054;
}

h1::after,
h1::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
}

h1::before {
    left: -140px;
}

h1::after {
    right: -140px;
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(105, 155, 246, 0.6);
    transition-duration: 0.5s;
}

.main_header:hover {
    background-color: #699BF6;
}

.main_header_left {
    display: flex;
    margin-left: 10px;
}

.main_header_filtersearchbar {
    margin-right: 10px;
    margin-left: 10px;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    margin: 20px 30px 50px 30px;
}

.btnDisplay {
    margin-top: 87px;
    display: flex;
    justify-content: center;
}